{% extends 'bootstrap3/bootstrap3.html' %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block bootstrap3_content %}
    <div class="container">

        {% if latest_review_list %}
            <ul>
            {% for review in latest_review_list %}
            <li> {{review.author}} wrote a review about {{review.synth.name}}:<br>
                {{review.review_text }}
            </li>
            {% endfor %}
            </ul>
        {% else %}
        <p>No reviews are available.</p>
        {% endif %}

    </div>


{% endblock %}
